{
    // Create .vscode/settings.json file and copy favorite parts.
    "workbench.colorTheme": "Visual Studio Dark",
    "files.autoSave": "afterDelay",
    "editor.formatOnSave": true,
    "editor.rulers": [
        100
    ],
    "python.formatting.provider": "black",
    "python.linting.enabled": true,
    "python.linting.flake8Enabled": true,
    "python.linting.mypyEnabled": true,
    "python.linting.pydocstyleEnabled": true,
    "python.testing.unittestEnabled": false,
    "python.testing.pytestEnabled": true,
    "python.testing.pytestArgs": [
        "tests",
        "--rootdir=${workspaceFolder}"
    ],
    "python.terminal.activateEnvInCurrentTerminal": true,
    "jupyter.sendSelectionToInteractiveWindow": true,
    "jupyter.jupyterServerType": "local",
    "jupyter.exportWithOutputEnabled": true,
    "jupyter.notebookFileRoot": "${workspaceFolder}",
    "jupyter.interactiveWindowMode": "single",
}
